@import "./../../assets/styles/main.scss";

.generate {
    height: 100%;
    padding: 75px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 15px;
    max-width: 1200px;
}

.formWrapper {
    flex: 0.7;
    border: 1px solid $slate-300;
    border-radius: 8px;
    padding: 25px;
}

.uploadImageWrapper {
    flex: 0.25;
    min-width: 250px;
    max-height: 360px;
    border-radius: 8px;
}

.buttonWrapper {
    margin-top: 20px;
}
