@import "./../../assets/styles/main.scss";

.modalContent {
  display: flex;
  gap: 50px;
}

.formColumn {
  flex: 0.8;
}

.imageColumn {
  flex: 0.25;
  max-height: 250px;
}

.imageWrapper {
  aspect-ratio: 9/11;
  object-fit: cover;
  height: 100%;
  margin-bottom: 15px;
}

.eventImage {
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

.buttonWrapper {
  
}
