@import "./../../assets/styles/main.scss";

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formControl label {
  @include p-small;
  margin-top: 5px;
  margin-bottom: 12px;
}

.formDateField {
  padding: 4px 6px 4px 6px;
  width: 225px;
  border-radius: 5px;
  border: 1px solid $slate-300;
  cursor: pointer;
}

input[type="datetime-local"] {
  color: $slate-400;
  @include p-subtle;
}

.formInput[data-isreadonly="true"] {
  background-color: rgb(218, 218, 218) !important;
  color: rgb(100, 100, 100);
  cursor: not-allowed;
}

.formInput[data-isReadOnly="true"]:focus {
  border: none;
  outline: none;
}

.errorMessage {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: red;
}
